global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend main_frontend
    bind *:80

    acl is_navigator path_beg /api/navigator
    acl is_routes path_beg /api/routes

    use_backend service2_backend if is_navigator
    use_backend service1_backend if is_routes
    default_backend service1_backend

# Service1 (Spring Boot)
backend service1_backend
    balance roundrobin
    option httpchk GET /actuator/health
    http-check expect status 200
    http-request set-path %[path,regsub(^/api,)]
    server service11 service1-1:13223 check
    server service12 service1-2:13225 check

# Service2 (WildFly)
backend service2_backend
    balance roundrobin
    server service21 wildfly1:13224 check
    server service22 wildfly2:13226 check

